* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    overflow-x: hidden;
}

body {
    background-color: #F4EEED;
    width: 100vw;
}

h1 {
    /* margin-bottom: 20px; */
    font-size: 10rem;
    /* position: relative;
    left: 250px;
    top: -320px; */
}

header {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
}

.van {
    /* display: inline;
    position: relative; */
    left: 780px;
    top: 50px;
    /* top: 150px;
    right: 350px; */
}

.wave {
    position: relative;
    top: -250px;
    z-index: -10;
}

.footer-wave {
    height: 900px;
    position: relative;
    display: inline;
}

#email,
#password,
#newUserpassword,
#newUserName,
#newUserEmail {
    padding: 15px 45px;
    border: none;
    border-radius: 10px;
    font-family: arial;
}

.login-btn,
#newUserBtn {
    background-color: #D8AC9C;
    border: none;
    border-radius: 10px;
    width: 65px;
    height: 45px;
    margin-left: 10px;
}

#formId {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    margin-right: 90px;
}

.login-div {
    display: flex;
    align-items: center;
}

.signup_link {
    display: flex;
    align-items: center;
}

.signup_link p {
    font-size: 1.2rem;
}

#signUpBtn {
    background-color: #D8AC9C;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    width: 65px;
    height: 45px;
}

.txt_field:first-of-type {
    margin-right: 15px;
}

.txt_field {
    margin-top: 5px;
}

.mini-basket {
    color: black;
    font-size: 1.5rem;
    height: 75px;
    width: 75px;
    border-radius: 100%;
    border: 1px solid grey;
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    opacity: 90%;
    z-index: 15;
}

.mini-basket span {
    z-index: 15;
}

#miniBasket .material-symbols-outlined {
    position: fixed;
    font-size: 3rem;
    text-align: center;
    color: lightgray;
    opacity: 40%;
    overflow: hidden;
    z-index: 10;
}


/* .hidden {
    display: none;
} */

.categoryUL, .productCards {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 60px;
    font-size: 1rem;
}

.categoryUL h1, .item-info h3 {
    font-size: 5rem;
}

.category-section {
    text-align: center;
    position: relative;
    top: -200px;
}

.productCards {
    text-align: center;
    margin-bottom: 450px;
}

.productCards li {
    border: 1px solid #cdbfbe;
    padding: 15px;

}

.item-selection {
    display: flex;
    justify-content: center;
}

.button-add, .button-remove {
    padding: 0 20px;
    margin: 15px;
    font-size: 2.4rem;
}

.products-wrapper {
    display: flex;
    justify-content: center;
}

.cart-items{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    font-size: 1rem;
}